body{
    /* display: flex; */
    width: 100%;
    background-color: #B3B4BF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    padding: 10px;
}

header{
    text-align: center;
    background-color: #8C166D;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
}

main{
    text-align: center;
    background-color: #5EBF6C;
    margin: 5px;
    border-radius: 10px;
    width: 100%;
    padding: 5px;
}

.article-title{
    display: none;
}

article{
    text-align: center;
    background-color: #D91E75;
    font-size: large;
    margin: 10px;
    margin-bottom:10px;
    padding: 20px;
    border-radius: 10px;
}

aside{
    text-align: center;
    background-color: #3C5B9A;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
}

aside:nth-child(3){
    background-color: #5BA1B7;
}

footer{
    text-align: center;
    background-color: #BF610F;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
}

@media (min-width: 900px) {

    /* body{
        display:grid;
        justify-content:flex-start;
    } */

    header{
        width: 100%;
        padding: 20px
    }

    .container{
        display: flex;
        width: 100%
    }

    main{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: 1fr 1fr 1fr;
        width: 100%;
        order: 2;
        /* align-content: center;
        text-align: center; */
    }

    .article-title{
        grid-row-start: 2;
        grid-column-start: 2;
        display: inline;

    }

    article{
        grid-row-start: 3;
    }

    aside{
        width: 100%;
        order: 1;
        width: 250px;
        align-content: center;
    }

    aside:nth-child(3){
        order: 3;
    }

    footer{
        width: 100%;
        padding: 20px
    }
}